# Table of Contents
 <p>

The purpose of this notebook is to demonstrate the concept & build of MA, AR, ARIMA and ARMA model

In [1]:
import os
os.listdir(os.getcwd())

['.git',
 '.gitattributes',
 '.gitignore',
 '.ipynb_checkpoints',
 'capmr.xls',
 'Coconut.xlsx',
 'currenciesr.xls',
 'Example17.xlsx',
 'FFDMR.xls',
 'GEYRR.xls',
 'macror.xls',
 'MSc_recordr.xls',
 'panelexr.xls',
 'SandPhedger.xls',
 'SP500.TXT',
 'Time series analysis.ipynb',
 'UKHPR.xls']

In [11]:
import pandas as pd
UKHPR = pd.read_excel('UKHPR.xls', sheetname=None)
for i in range(len(UKHPR.keys())): 
    print('\033[1m Sheet ' + str(i+1) + ': ' + list(UKHPR.keys())[i] + '\033[0m')
    # dict doesnt support index so we have to use list()
    with pd.option_context("display.max_colwidth",1000):
        list(UKHPR.values())[i] 
    # use pandas option system to display content in full column width

 Sheet 1: Monthly

         Month          price
0   1991-01-01   53051.721106
1   1991-02-01   53496.798746
2   1991-03-01   52892.861606
3   1991-04-01   53677.435270
4   1991-05-01   54385.726747
5   1991-06-01   55107.375085
6   1991-07-01   54541.121263
7   1991-08-01   54040.710150
8   1991-09-01   53259.454835
9   1991-10-01   53466.620438
10  1991-11-01   53018.022496
11  1991-12-01   53104.082984
12  1992-01-01   51951.198589
13  1992-02-01   51850.184753
14  1992-03-01   51977.531548
15  1992-04-01   51977.833096
16  1992-05-01   52712.599600
17  1992-06-01   52905.529843
18  1992-07-01   52726.864317
19  1992-08-01   52311.708838
20  1992-09-01   51096.962351
21  1992-10-01   50699.394068
22  1992-11-01   49601.664241
23  1992-12-01   49744.666641
24  1993-01-01   50075.486575
25  1993-02-01   50374.680861
26  1993-03-01   50187.356875
27  1993-04-01   51677.239161
28  1993-05-01   50901.094775
29  1993-06-01   52785.720755
..         ...            ...
167 2004-12-01  152622.728586
168 2005-01-01  151757.174579
169 2005-02-01  152878.939713
170 2005-03-01  153876.167090
171 2005-04-01  156128.027989
172 2005-05-01  157272.245070
173 2005-06-01  157790.988495
174 2005-07-01  158347.701452
175 2005-08-01  157309.746261
176 2005-09-01  156516.536931
177 2005-10-01  157107.345469
178 2005-11-01  157138.890214
179 2005-12-01  157249.756180
180 2006-01-01  158477.766099
181 2006-02-01  158572.967796
182 2006-03-01  162082.504163
183 2006-04-01  163573.278728
184 2006-05-01  164632.290899
185 2006-06-01  165729.907680
186 2006-07-01  167732.734746
187 2006-08-01  167721.479979
188 2006-09-01  169412.674515
189 2006-10-01  169623.488584
190 2006-11-01  172184.849895
191 2006-12-01  173745.944940
192 2007-01-01  173224.530500
193 2007-02-01  174705.525858
194 2007-03-01  177082.554129
195 2007-04-01  180314.167316
196 2007-05-01  181584.499983

[197 rows x 2 columns]